@font-face {
  font-family: 'Nodesto';
  src: url('../../fonts/signika/signika-bold.woff2') format('woff2');
  unicode-range: U+00DF-00DF;
}

.pf1alt .item-list-search {
  display: flex;
  flex-wrap: nowrap;
  max-height: 1.8em;
  max-width: 120px;
}

.pf1alt .tabs > * {
  flex: 1 1 auto;
}

.pf1alt .item-list-search .search-input {
  border: 1px solid #7a7971;
  background-color: rgba(0, 0, 0, 0.01);
  max-width: 120px;
}

.pf1alt .item-list-search .search-input ~ .clear-search {
  margin-left: -1.45em;
  margin-right: 0.1em;
  margin-top: 1px;
  color: #7a7971;
  align-self: center;
  padding: 2px;
}

.pf1alt.sheet select {
	width: -webkit-fill-available;
	width: -moz-available;
	width: stretch;
}

.pf1alt.sheet .race-info.type3 {
  background:rgba(0, 0, 255, 0.1);
}

.pf1alt.sheet .race-info.tag {
  font-family: "Signika", sans-serif;
  font-size: 12px;
  font-variant: normal;
}

.pf1alt.sheet.actor ul.ability-scores {
  margin: 8px 0 0;
}

.pf1alt.sheet .icon {
  background-color: #7a7971;
}

.pf1alt.sheet .icon.large {
  width: 24px;
  height: 24px;
}

.pf1alt.sheet .ability-damaged {
  color: #ac3638 !important;
}

.pf1alt.sheet .currency .convert-currency {
  flex: 0;
  margin-left: 5px;
  line-height: 24px;
}

.pf1alt.sheet .currency h3 {
  flex: 0 0 160px;
}

.pf1alt.sheet.actor .tab-footer {
  flex: 0;
}

.pf1alt.sheet.actor .form-group label {
  line-height: unset;
}

.pf1alt.sheet .altsheet-minimize-classes-checkbox {
  width: 15px;
  height: 15px;
}

.pf1alt.sheet.actor section.feats-body .feats-group .item-detail.item-type {
  flex: 0 0 40px;
}

.pf1alt.sheet.actor ul.skills-list li.skill .skill-name .compendium-icon,
.pf1alt.sheet.actor ul.skills-list li.sub-skill .skill-name .compendium-icon {
  margin-right: 5px;
  margin-left: 10px;
  width: 12px;
}

.pf1alt.sheet.actor ul.skills-list li.skill .skill-name.untrained,
.pf1alt.sheet.actor ul.skills-list li.sub-skill .skill-name.untrained,
.pf1alt.sheet.actor ol.item-list li.item.disabled .item-name {
  color: rgba(0, 0, 0, 0.6);
}

.pf1alt.sheet.actor ul.skills-list li.skill .skill-name.untrained h4,
.pf1alt.sheet.actor ul.skills-list li.sub-skill .skill-name.untrained h4,
.pf1alt.sheet.actor ol.item-list li.item.disabled .item-name h4 {
  text-decoration: line-through;
}

.pf1alt.sheet.actor .ability-scores-simple .ability-simple.ability {
  border-bottom: 1px solid #b5b3a4;
  margin: 0 10px;
}

.pf1alt.sheet.actor .ability-scores-simple div.ability-simple:last-child {
  border-bottom: unset;
}

.pf1alt.sheet.actor .ability-scores .ability .ability-damages span {
  font-size: 17px;
  color: #666;
}

.pf1alt.sheet .header-details input {
  font-variant: small-caps;
}

.pf1alt.sheet div.spellcasting-concentration.flexrow {
  margin-right: 10px;
}

.pf1alt.sheet div.level-settings {

}

.pf1alt.sheet div.settings {
  flex: 2;
}

.pf1alt.app .form-group.stacked .flexrow h2 {
  font-size: 1.5em;
  border-bottom: 1px solid #782e22;
}

.pf1alt.app .form-group.stacked .flexrow h3 {
  font-size: 1.25em;
  border-bottom: 1px solid #782e22;
}

.pf1alt.sheet.actor ul.attributes li.attribute.double {
  flex-grow: 2;
}

.pf1alt.sheet.actor .inventory-list a.item-control.enabled[data-name="data.preparation.spontaneousPrepared"] {
  color: #000;
}

.pf1alt.sheet.actor .inventory-list .item-list .item.mythic-path {
  background-color: #ff640030;
}

.pf1alt.sheet i.icon-gladius {
  mask-image: url('../../systems/pf1/icons/actions/gladius.svg');
  -webkit-mask-image: url('../../systems/pf1/icons/actions/gladius.svg');
}

.pf1alt.sheet.actor div.conditions {
  margin-bottom: 8px;
  padding-bottom: 5px;
  border-bottom: 2px groove #eeede0;
}

.pf1alt.sheet.actor .spellbook-group .spell-points-current {
  flex: 0;
}

.pf1alt.sheet.actor .attribute-value .tag {
  font-family: 'Signika';
}

.pf1alt.sheet.actor .attribute-value.scroll {
  overflow-y: scroll;
}

.pf1alt.sheet.actor .attribute-value .tag:first-child {
  margin-left: 5px;
}

.pf1alt.sheet .tooltipcontent {
  font-variant: normal;
}

.pf1alt.sheet div.condition img {
  width: 26px;
  height: 26px;
  margin-right: 5px;
}

.pf1alt.sheet div.condition a.compendium-entry {
  margin-right: 5px;
  margin-top: 5px;
  flex: 0;
  font-size: 14px;
}

.pf1alt.sheet div.condition a.compendium-entry-disabled {
  margin-right: 5px;
  margin-top: 5px;
  flex: 0;
  font-size: 14px;
  color: rgba(0,0,0,0);
}

.pf1alt.sheet span.text-box {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.pf1alt.sheet span.cr-input,
.pf1alt.sheet input.cr-input {
  flex: 0 0 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.pf1alt.sheet span.hp-current-input {
  width: 90px;
}
.pf1alt.sheet span.hp-temp-input,
.pf1alt.sheet input.hp-temp-input {
  width: 40% !important;
}
.pf1alt.sheet span.hp-nonlethal-input,
.pf1alt.sheet input.hp-nonlethal-input {
  width: 40% !important;
}

.pf1alt.sheet .skill-mod-total span.negative,
.pf1alt.sheet .skill-master-mod-total span.negative {
  color: #44191A;
}

/* 3.5 SRD stuff below */

.pf1alt {
    /* ----------------------------------------- */
    /*  Element Styles                           */
    /* ----------------------------------------- */
    /* Form Groups */
    /* Tags */
  }
.pf1alt li {
  align-items: center;
}
.pf1alt .window-content {
  background: url(../../systems/pf1/ui/parchment.jpg) repeat;
  font-size: 13px;
  color: #191813;
}
.pf1alt input[type="text"],
.pf1alt select {
  border: 1px solid #7a7971;
  background: rgba(0, 0, 0, 0.05);
  color: #191813;
}
.pf1alt input[type="text"]:hover,
.pf1alt input[type="text"]:focus {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}
.pf1alt input[type="number"] {
  width: calc(100% - 2px);
  min-width: 20px;
  height: 24px;
  background: rgba(0, 0, 0, 0.05);
  padding: 1px 3px;
  margin: 0;
  color: #191813;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  line-height: inherit;
  border: 1px solid #7a7971;
  border-radius: 3px;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.pf1alt input[type="number"]:hover,
.pf1alt input[type="number"]:focus {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}
.pf1alt input:disabled,
.pf1alt select:disabled,
.pf1alt textarea:disabled {
  color: #4b4a44;
}
.pf1alt input:disabled:hover,
.pf1alt select:disabled:hover,
.pf1alt textarea:disabled:hover,
.pf1alt input:disabled:focus,
.pf1alt select:disabled:focus,
.pf1alt textarea:disabled:focus {
  box-shadow: none !important;
}
.pf1alt button {
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #eeede0;
}
.pf1alt button:active {
  background: rgba(0, 0, 0, 0.3);
}
.pf1alt .btn {
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #eeede0;
}
.pf1alt .button:active {
  background: rgba(0, 0, 0, 0.3);
}
.pf1alt label.checkbox {
  flex: auto;
  margin: 0;
  line-height: 20px;
  font-size: 13px;
}
.pf1alt label.checkbox input[type="checkbox"] {
  height: auto;
  margin: 0 5px 0;
  position: relative;
  top: 0;
}
.pf1alt .form-group {
  flex: 0 0 24px;
}
.pf1alt .form-group label.header {
  flex: 0 0 100%;
}
.pf1alt .form-group .buff-flags {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  max-height: 96px;
  overflow-y: auto;
}
.pf1alt .form-group .buff-flags label.checkbox {
  flex: 0 0 50%;
  text-align: left;
}
.pf1alt .form-group label {
  flex: 2;
  color: #4b4a44;
  font-weight: bold;
  white-space: nowrap;
}
.pf1alt .form-group span {
  flex: 0 0 1px;
}
.pf1alt .form-group .form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.pf1alt .form-group .form-fields > * {
  flex: 1;
}
.pf1alt .form-group .form-fields .flex1 {
  flex: 1;
}
.pf1alt .form-group .form-fields .flex2 {
  flex: 2;
}
.pf1alt .form-group .form-fields .flex3 {
  flex: 3;
}
.pf1alt .form-group .form-fields .flex4 {
  flex: 4;
}
.pf1alt .form-group .form-fields > * {
  margin: 0 3px 0 0;
}
.pf1alt .form-group .form-fields > *:last-child {
  margin-right: 0;
}
.pf1alt .form-group .group {
  flex: 1 1 96px;
}
.pf1alt .form-group .group label {
  flex: 1;
  font-weight: normal;
}
.pf1alt .form-group .group a {
  flex: 0 0 16px;
}
.pf1alt .form-group.stacked .flexrow .half {
  flex: 0 0 50%;
}
.pf1alt .form-group.stacked label {
  flex: 0 0 100%;
}
.pf1alt .form-group.stacked label.checkbox {
  flex: auto;
  text-align: left;
}
.pf1alt .form-group.stacked .data-selector {
  flex: 1;
}
.pf1alt .form-group.stacked .data-selector label {
  font-weight: normal;
  flex: 1;
}
.pf1alt .form-group.stacked .data-selector .entry-selector {
  flex: 0 0 16px;
}
.pf1alt .form-header {
  margin: 0 0 0.25em 0;
  padding: 0 2px;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 20px;
  font-size: 24px;
  font-variant: small-caps;
  border-top: 2px groove #eeede0;
  border-bottom: 2px groove #eeede0;
}
.pf1alt .tag {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0 3px;
  font-size: 10px;
  line-height: 16px;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}
  /* ----------------------------------------- */
  /*  Entity Sheets Specifically               */
  /* ----------------------------------------- */
  .pf1alt.sheet {
    /* ----------------------------------------- */
    /*  Element Styles                           */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  TinyMCE                                  */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Sheet Header                             */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Sheet Navigation                         */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Sheet Body                               */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  List Filters                             */
    /* ----------------------------------------- */
  }
  .pf1alt.sheet .window-content {
    overflow-y: hidden;
    padding: 5px;
    background: url(../../systems/pf1/ui/parchment.jpg) repeat;
    font-size: 13px;
    color: #191813;
  }
  .pf1alt.sheet .window-content form {
    height: 100%;
    overflow: hidden;
  }
  .pf1alt.sheet .window-content .tab {
    height: 100%;
    overflow-y: auto;
    align-content: flex-start;
  }
  .pf1alt.sheet input[type="text"],
  .pf1alt.sheet textarea {
    background: none;
    border: 1px solid transparent;
  }
  .pf1alt.sheet input[type="text"]:hover,
  .pf1alt.sheet textarea:hover,
  .pf1alt.sheet input[type="text"]:focus,
  .pf1alt.sheet textarea:focus {
    border: 1px solid #111;
  }
  .pf1alt.sheet textarea {
    font-family: sans-serif;
    min-height: 16px;
    padding: 1px 5px;
  }
  .pf1alt.sheet select {
    flex: 1;
    font-size: 12px;
    height: 22px;
    background: transparent;
  }
  .pf1alt.sheet .editable .rollable:hover {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
  .pf1alt.sheet .editor {
    height: 100%;
  }
  .pf1alt.sheet .editor .tox-toolbar-overlord,
  .pf1alt.sheet .editor .tox-toolbar__primary {
    background: none;
  }
  .pf1alt.sheet .sheet-header {
    flex: 0 0 100px;
    border-bottom: 2px groove #eeede0;
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    font-variant: small-caps;
    font-size: 20px;
    align-items: center;
    /* Character Name */
    /* Profile Image */
    /* Header Summary Details */
  }
  .pf1alt.sheet .sheet-header h1 {
    flex: 1;
    border-bottom: none;
    height: 60px;
    margin: 0;
    padding: 5px;
  }
  .pf1alt.sheet .sheet-header h1 input {
    height: 50px;
    font-size: 36px;
  }
  .pf1alt.sheet .sheet-header .profile {
    position: relative;
  }
  .pf1alt.sheet .sheet-header img.profile {
    flex: 0 0 100px;
    width: 100px;
    height: 100px;
    object-fit: contain;
    border: none;
    border-right: 2px groove #eeede0;
  }
  .pf1alt.sheet .sheet-header img.profile.npc {
    border-right: none;
    margin-right: 0;
  }
  .pf1alt.sheet .sheet-header .summary {
    flex: 0 0 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 2px groove #eeede0;
    border-bottom: none;
  }
  .pf1alt.sheet .sheet-header .summary li {
    width: 33.33%;
    float: left;
    height: 24px;
    padding: 0 3px;
    border-right: 2px groove #eeede0;
    border-bottom: 2px groove #eeede0;
    line-height: 24px;
    color: #4b4a44;
  }
  .pf1alt.sheet .sheet-header .summary li input {
    vertical-align: top;
  }
  .pf1alt.sheet .sheet-navigation {
    flex: 0 0 30px;
    margin-bottom: 5px;
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    font-variant: small-caps;
    font-size: 20px;
  }
  .pf1alt.sheet .sheet-navigation .item {
    height: 30px;
    line-height: 32px;
    margin: 0 8px;
    white-space: nowrap;
    border-bottom: 3px solid #b5b3a4;
  }
  .pf1alt.sheet .sheet-navigation .item.active {
    border-bottom: 3px solid #44191A;
  }
  .pf1alt.sheet .sheet-navigation.tabs {
    border-bottom: 2px groove #eeede0;
  }
  .pf1alt.sheet .sheet-navigation.subtabs {
    font-size: 18px;
  }
  .pf1alt.sheet .filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 16px;
  }
  .pf1alt.sheet .filter-list .filter-title {
    flex: 3;
  }
  .pf1alt.sheet .filter-list .filter-item {
    text-align: center;
    font-size: 12px;
    margin: 0 6px;
    border-bottom: 3px solid #b5b3a4;
    white-space: nowrap;
  }
  .pf1alt.sheet .filter-list .filter-item:hover {
    text-shadow: 0 0 4px red;
    border-bottom: 3px solid #7a7971;
  }
  .pf1alt.sheet .filter-list .filter-item.active {
    border-bottom: 3px solid #44191A;
  }
  .pf1alt.sheet a > .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
  }
  .pf1alt.sheet a > .icon:hover {
    opacity: 0.5;
  }
  .pf1alt.sheet .icon-spell-no-charges {
    display: flex;
    height: 16px;
    flex: 0 0 16px;
    padding: 0;
    opacity: 0.3;
  }
  /* ----------------------------------------- */
  /* Trait Selector
  /* ----------------------------------------- */
  #trait-selector .trait-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #trait-selector input[type="text"] {
    height: 24px;
    margin: 2px;
  }
  .pf1alt.entry table {
    border: 1px solid #888888;
    font-weight: normal;
    table-layout: fixed;
  }
  .pf1alt.entry table th.entry-control {
    width: 16px;
  }
  .pf1alt.entry table tr {
    height: 16px;
  }
  .pf1alt.entry table thead {
    background-color: #cfe2f3;
  }
  .pf1alt.entry table tbody tr {
    background-color: white;
  }
  .pf1alt.entry table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
  }

  .pf1alt.sheet.actor {
    /* ----------------------------------------- */
    /*  Sheet Header                             */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  General Styles                           */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Attributes                               */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Defenses                                 */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Ability Scores                           */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Skills                                   */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Statuses                                 */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Buffs & Conditions                       */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Traits                                   */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Inventory Lists                          */
    /* ----------------------------------------- */
    /* Encumbrance Bar */
    /* Inventory List Filters */
    /* ----------------------------------------- */
    /*  Spellbook                                */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  TinyMCE                                  */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Misc                                     */
    /* ----------------------------------------- */
  }
  .pf1alt.sheet.actor .warning {
    flex: 0;
    background-color: #ffd14e;
    border: 1px solid #ffbc00;
    padding: 4px;
    position: absolute;
    z-index: 100;
    top: 30px;
    left: 0;
    width: 100%;
    border-top: 0;
    border-radius: 0 0 2px 2px;
  }
  .pf1alt.sheet.actor .point-buy-button {
    flex: 0 100px;
    border-radius: 4px;
    height: 30px;
    display: block;
    margin: 0 5px 4px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    float: right;
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    font-variant: small-caps;
  }
  .pf1alt.sheet.actor .working {
    display: none;
    flex: none;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: calc(100% - 30px);
    left: 0;
    top: 30px;
    z-index: 1;
  }
  .pf1alt.sheet.actor .working h1 {
    text-align: center;
    color: white;
    font-family: "Signika", "Palatino Linotype", serif;
    margin-top: 50%;
    border-bottom: none;
  }
  .pf1alt.sheet.actor.isWorking .working {
    display: block;
  }
  .pf1alt.sheet.actor h2.block-header {
    position: relative;
    flex: 0 0 35px;
    margin: 0.5rem 0.25rem 0.25rem 0.25rem;
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    font-size: 20px;
    border: none;
    display: flex;
    align-items: center;
  }
  .pf1alt.sheet.actor h2.block-header::after {
    content: '';
    flex: 1;
    margin-left: 0.5rem;
    height: 0px;
    background-color: transparent;
    border-top: 2px groove #eeede0;
  }
  .pf1alt.sheet.actor h3.block-header {
    position: relative;
    flex: 0 0 20px;
    margin: 0.25rem;
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    font-size: 18px;
    border: none;
    display: flex;
    align-items: center;
  }
  .pf1alt.sheet.actor h3.block-header::after {
    content: '';
    flex: 1;
    margin-left: 0.5rem;
    height: 0px;
    background-color: transparent;
    border-top: 2px groove #eeede0;
  }
  .pf1alt.sheet.actor h3.block-header::before {
    content: '';
    flex: 1;
    margin-right: 0.5rem;
    height: 0px;
    background-color: transparent;
    border-top: 2px groove #eeede0;
  }
  .pf1alt.sheet.actor .note-editor.small,
  .pf1alt.sheet.actor .trait-selector.small {
    margin-left: 5px;
    font-size: 12px;
  }
  .pf1alt.sheet.actor .level-class-image {
    height: 45px;
    flex: 45px 0;
    margin: 2px;
    border-radius: 4px;
    background-size: contain;
    border: 1px solid #2f2220;
    position: relative;
  }
  .pf1alt.sheet.actor .level-class-image.active {
    background-image: url(/systems/D35E/icons/actions/upgrade.svg);
  }
  .pf1alt.sheet.actor .level-class-image span.level {
    width: 20px;
    color: white;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.6);
    display: block;
    border-bottom-right-radius: 3px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 3px;
    text-align: center;
    border-color: black;
    border-left: 1px black solid;
    border-top: 1px black solid;
  }
  .pf1alt.sheet.actor .level-class-image span.feat {
    width: 16px;
    height: 16px;
    padding: 1px;
    color: white;
    font-size: 15px;
    background: black;
    opacity: 0.7;
    display: block;
    border-bottom-right-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 3px;
    text-align: center;
    background-image: url(/systems/D35E/icons/actions/orb-direction.svg);
    background-size: 14px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9999;
  }
  .pf1alt.sheet.actor .level-class-image span.ability {
    width: 16px;
    height: 16px;
    padding: 1px;
    color: white;
    font-size: 15px;
    background: black;
    opacity: 0.7;
    display: block;
    border-bottom-left-radius: 3px;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 3px;
    text-align: center;
    background-image: url(/systems/D35E/icons/actions/growth.svg);
    background-size: 14px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9999;
  }
  .pf1alt.sheet.actor .sheet-header .header-details {
    height: 100%;
    border-left: 2px groove #eeede0;
  }
  .pf1alt.sheet.actor .sheet-header .header-details .attributes > .attribute {
    margin: 0;
    border-left: none;
    border-bottom: none;
    border-top: 2px groove #eeede0;
    border-right: 2px groove #eeede0;
    border-radius: 0;
    height: auto;
  }
  .pf1alt.sheet.actor .sheet-header .header-details .attribute.speed {
    flex: 1.5;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
  }
  .pf1alt.sheet.actor .sheet-header .header-details .attribute.speed .attribute-speed {
    flex: 0 0 33%;
    max-width: 33%;
  }
  .pf1alt.sheet.actor .sheet-header .header-details .attribute.speed .attribute-speed select {
    width: 100%;
  }
  .pf1alt.sheet.actor .sheet-header .header-details .attribute.speed .attribute-speed h4 {
    white-space: nowrap;
    overflow: hidden;
  }
  .pf1alt.sheet.actor .sheet-header .header-details .attribute.speed .attribute-speed input[type="text"] {
    height: 16px;
    margin: 0;
    padding: 0;
  }
  .pf1alt.sheet.actor .sheet-header a.random-hp-roll {
    border-radius: 4px;
    height: 40px;
    display: block;
    margin: 0 5px 4px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    font-variant: small-caps;
  }
  .pf1alt.sheet.actor .sheet-header div.profile {
    flex: 0 0 120px;
    max-width: 120px;
    min-height: 120px;
    max-height: 136px;
    overflow: hidden;
    object-fit: contain;
    border: none;
    background-size: cover;
    background-position: center;
  }
  .pf1alt.sheet.actor .sheet-header div.profile img {
    width: 120px;
    min-height: 120px;
    height: 100%;
    object-fit: contain;
    border: none;
  }
  .pf1alt.sheet.actor .sheet-header div.profile img.token-image {
    width: 30px;
    height: 30px;
    min-height: 30px;
    flex: 0;
    position: absolute;
    right: 1px;
    bottom: 6px;
    margin-right: 0;
    border: 1px white solid;
    background: #4e4e4e;
    background: radial-gradient(circle, #4e4e4e 0%, #000000 100%);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }
  .pf1alt.sheet.actor .sheet-header div.profile .buffbox {
    position: absolute;
    width: 120px;
    z-index: 2;
  }
  .pf1alt.sheet.actor .sheet-header div.profile .buffbox div {
    height: 16px;
    width: 16px;
    flex: 0 16px;
    background-size: 16px;
    margin: 2px;
    border: white 0.5px solid;
  }
  .pf1alt.sheet.actor .sheet-header .hd {
    flex: 0 0 88px;
    height: 60px;
    margin: 0;
    padding: 2px;
    text-align: right;
    width: 100%;
    font-size: 20px;
    line-height: 20px;
  }
  .pf1alt.sheet.actor .sheet-header .hd label {
    display: inline;
    font-size: 32px;
    text-align: right;
  }
  .pf1alt.sheet.actor .sheet-header .hd input {
    display: inline;
    width: 36px;
    font-size: 32px;
    text-align: center;
    flex: 0 0 40px;
    height: 44px;
  }
  .pf1alt.sheet.actor .sheet-header .charlevel {
    flex: 0 0 120px;
    height: 60px;
    margin: 0;
    padding: 2px;
    text-align: right;
  }
  .pf1alt.sheet.actor .sheet-header .charlevel .level {
    flex: 8;
    height: 20px;
    font-size: 24px;
    line-height: 20px;
  }
  .pf1alt.sheet.actor .sheet-header .charlevel .level label {
    display: inline;
    font-size: 24px;
    text-align: right;
  }
  .pf1alt.sheet.actor .sheet-header .charlevel .level input {
    display: inline;
    width: 36px;
    font-size: 24px;
    text-align: center;
  }
  .pf1alt.sheet.actor .sheet-header .charlevel .level.noxp {
    margin-top: 10px;
  }
  .pf1alt.sheet.actor .sheet-header .charlevel .level.noxp > label {
    font-size: 32px;
  }
  .pf1alt.sheet.actor .sheet-header .charlevel .level.noxp > input {
    font-size: 32px;
    flex: 0 0 40px;
    height: 44px;
  }
  .pf1alt.sheet.actor .sheet-header .charlevel .experience {
    width: 100%;
    height: 22px;
    padding-right: 5px;
    font-size: 16px;
    color: #4b4a44;
  }
  .pf1alt.sheet.actor .attributes input[type="text"] {
    height: 24px;
  }
  .pf1alt.sheet.actor .attributes input.temphp {
    width: 48%;
  }
  .pf1alt.sheet.actor h4.box-title {
    margin: 4px 8px 2px;
    font-size: 18px;
    border-bottom: 1px solid #b5b3a4;
  }
  .pf1alt.sheet.actor section {
    overflow-y: auto;
  }
  .pf1alt.sheet.actor .attribute-footer input,
  .pf1alt.sheet.actor .attribute-footer select {
    width: 90%;
  }
  .pf1alt.sheet.actor .attributes-root {
    flex: 0 0 30%;
  }
  .pf1alt.sheet.actor ul.attributes {
    list-style: none;
    margin: 8px 0 0;
    padding: 0;
  }
  .pf1alt.sheet.actor ul.attributes.nomargin {
    margin: 0;
  }
  .pf1alt.sheet.actor ul.attributes a.rest {
    border-radius: 4px;
    height: 40px;
    display: block;
    margin: 0 5px 4px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    font-variant: small-caps;
  }
  .pf1alt.sheet.actor ul.attributes li.attribute.health {
    height: 80px;
  }
  .pf1alt.sheet.actor ul.attributes li.attribute.ac-details {
    height: 50px;
  }
  .pf1alt.sheet.actor ul.attributes li.attribute.st-details {
    height: 50px;
  }
  .pf1alt.sheet.actor ul.attributes li.attribute.speed {
    height: 80px;
  }
  .pf1alt.sheet.actor ul.attributes li.attribute {
    height: 70px;
    margin: 0 5px;
    border: 2px groove #eeede0;
    border-radius: 4px;
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    font-size: 20px;
    text-align: center;
  }
  .pf1alt.sheet.actor ul.attributes li.attribute .attribute-name {
    flex: 0 0 18px;
  }
  .pf1alt.sheet.actor ul.attributes li.attribute.high {
    height: 80px;
  }
  .pf1alt.sheet.actor ul.attributes li.attribute.higher {
    height: 120px;
  }
  .pf1alt.sheet.actor ul.attributes li.attribute .attribute-value {
    height: 28px;
    line-height: 20px;
  }
  .pf1alt.sheet.actor ul.attributes li.attribute .attribute-value.high {
    height: 50px;
  }
  .pf1alt.sheet.actor ul.attributes li.attribute.higher .attribute-value.high {
    height: 90px;
  }
  .pf1alt.sheet.actor ul.attributes li.attribute .attribute-value input {
    display: inline;
    max-width: 80%;
    margin: 0;
    font-size: 13px;
    font-family: "Signika", sans-serif;
  }
  .pf1alt.sheet.actor ul.attributes li.attribute .attribute-value div.attribute {
    display: inline-block;
    min-width: 24px;
    font-size: 24px;
    width: calc(100% - 2px);
  }
  .pf1alt.sheet.actor ul.attributes li.attribute .attribute-value.multiple div.attribute {
    max-width: 33%;
  }
  .pf1alt.sheet.actor ul.attributes li.attribute .attribute-value span.sep {
    display: inline;
    position: relative;
    top: 2px;
    font-size: 28px;
    color: #7a7971;
  }
  .pf1alt.sheet.actor ul.attributes li.attribute .attribute-value span.large {
    line-height: 40px;
    font-size: 1.8rem;
  }
  .pf1alt.sheet.actor ul.attributes li.attribute .attribute-value .add-prestige-cl,
  .pf1alt.sheet.actor ul.attributes li.attribute .attribute-value .remove-prestige-cl {
    margin: 0.5rem;
    font-size: 14px;
    opacity: 0.9;
  }
  .pf1alt.sheet.actor ul.attributes li.attribute .attribute-value .add-prestige-cl-disabled,
  .pf1alt.sheet.actor ul.attributes li.attribute .attribute-value .remove-prestige-cl-disabled {
    margin: 0.5rem;
    font-size: 14px;
    opacity: 0.5;
  }
  .pf1alt.sheet.actor ul.attributes li.attribute .attribute-value.multiple input {
    max-width: 33%;
  }
  .pf1alt.sheet.actor ul.attributes li.attribute .attribute-footer {
    /*flex: 0 0 18px;*/
    margin-top: -1px;
    line-height: 18px;
    font-family: "Signika", "Palatino Linotype", serif;
    font-size: 12px;
  }
  .pf1alt.sheet.actor .defenses .attributes {
    flex: 0;
  }
  .pf1alt.sheet.actor .defenses .attribute .attribute-footer input {
    width: 32px;
  }
  .pf1alt.sheet.actor .defenses .defense-rolls label,
  .pf1alt.sheet.actor .defenses .defense-notes label {
    line-height: 20px;
    white-space: nowrap;
  }
  .pf1alt.sheet.actor .defenses .defense-rolls label h3,
  .pf1alt.sheet.actor .defenses .defense-notes label h3 {
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    font-size: 20px;
    font-size: 18px;
    font-variant: small-caps;
  }
  .pf1alt.sheet.actor .defenses .defense-notes {
    margin-top: 5px;
  }
  .pf1alt.sheet.actor .defenses .defense-notes label {
    flex: 1;
  }
  .pf1alt.sheet.actor .defenses .defense-notes textarea {
    flex: 3;
  }
  .pf1alt.sheet.actor .details-skills-list {
    border: 2px groove #eeede0;
    border-radius: 4px;
  }
  .pf1alt.sheet.actor .details-skills-list .skills-list {
    margin: 0;
    padding: 0;
  }
  .pf1alt.sheet.actor .details-skills-list .skill-header {
    margin: 2px 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #eeede0;
    border-right: none;
    border-left: none;
    font-weight: bold;
    line-height: 24px;
    flex: none;
  }
  .pf1alt.sheet.actor .details-skills-list .skill-header .skill-name {
    flex: 180px;
  }
  .pf1alt.sheet.actor .details-skills-list .box-name {
    text-align: center;
    flex: none;
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    margin: 4px 8px 2px;
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    font-variant: small-caps;
  }
  .pf1alt.sheet.actor .details-attack-simple {
    border: 2px groove #eeede0;
    border-radius: 4px;
    margin: 2px;
  }
  .pf1alt.sheet.actor .details-attack-simple .inventory-list {
    margin: 0;
    padding: 0;
  }
  .pf1alt.sheet.actor .details-attack-simple .inventory-list .inventory-header {
    border-right: none;
    border-left: none;
  }
  .pf1alt.sheet.actor .details-attack-simple .box-name {
    text-align: center;
    flex: none;
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    margin: 4px 8px 2px;
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    font-variant: small-caps;
  }
  .pf1alt.sheet.actor .ability-scores-simple {
    border: 2px groove #eeede0;
    border-radius: 4px;
    flex: 0.5;
    margin: 2px;
  }
  .pf1alt.sheet.actor .ability-scores-simple .ability-simple-header {
    flex: none;
  }
  .pf1alt.sheet.actor .ability-scores-simple .ability-simple-header span {
    flex: 1;
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    font-variant: small-caps;
  }
  .pf1alt.sheet.actor .ability-scores-simple .ability-box-name {
    text-align: center;
    flex: none;
    border-bottom: 1px solid #b5b3a4;
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    margin: 4px 8px 2px;
  }
  .pf1alt.sheet.actor .ability-scores-simple .ability-simple {
    height: 40px;
    flex: none;
    text-align: center;
  }
  .pf1alt.sheet.actor .ability-scores-simple h4 {
    line-height: 40px;
    font-size: 22px;
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    font-variant: small-caps;
  }
  .pf1alt.sheet.actor .ability-scores-simple h4.box-title {
    border-bottom: none;
  }
  .pf1alt.sheet.actor .ability-scores-simple h4.box-ability {
    text-align: center;
    border: 2px groove #eeede0;
    border-radius: 4px;
    height: 34px;
  }
  .pf1alt.sheet.actor .ability-scores-simple h4.ability-value-text {
    text-align: center;
    height: 34px;
    font-size: 22px;
    line-height: 40px;
  }
  .pf1alt.sheet.actor .ability-scores-simple h4.ability-mod-text {
    text-align: center;
    height: 34px;
    line-height: 40px;
    font-size: 18px;
    color: #7a7971;
  }
  .pf1alt.sheet.actor .ability-scores-simple .ability-base-simple {
    text-align: center;
    line-height: 30px;
    font-size: 22px;
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    border: 2px groove #eeede0;
    border-radius: 4px;
    height: 34px;
    margin: 4px 0;
  }
  .pf1alt.sheet.actor .ability-scores {
    flex: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    font-size: 20px;
  }
  .pf1alt.sheet.actor .ability-scores .ability {
    height: 115px;
    margin: 0 5px;
    text-align: center;
    border: 2px groove #eeede0;
    border-radius: 3px;
    /* Hide modifier box on hover */
  }
  .pf1alt.sheet.actor .ability-scores .ability input.ability-total {
    height: 30px;
    width: 50px;
    margin: 0 auto;
    line-height: 32px;
    font-size: 24px;
  }
  .pf1alt.sheet.actor .ability-scores .ability .ability-modifiers {
    height: 24px;
    margin: -12px 0 10px;
  }
  .pf1alt.sheet.actor .ability-scores .ability .ability-modifiers span.ability-mod,
  .pf1alt.sheet.actor .ability-scores .ability .ability-modifiers .ability-base {
    flex: 0 0 32px;
    height: 32px;
    border-top: 2px groove #eeede0;
  }
  .pf1alt.sheet.actor .ability-scores .ability .ability-modifiers span.ability-mod {
    border-right: 2px groove #eeede0;
    border-bottom: 2px groove #eeede0;
    line-height: 30px;
  }
  .pf1alt.sheet.actor .ability-scores .ability .ability-modifiers div.ability-center {
    height: 0;
  }
  .pf1alt.sheet.actor .ability-scores .ability .ability-modifiers .ability-base {
    border-left: 2px groove #eeede0;
    border-bottom: 2px groove #eeede0;
    border-bottom: 0;
    border-right: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    line-height: 30px;
  }
  .pf1alt.sheet.actor .ability-scores .ability .ability-header {
    height: 24px;
    margin: 0;
  }
  .pf1alt.sheet.actor .ability-scores .ability .ability-header input[type="text"].ability-damage {
    flex: 1;
    height: 24px;
    border-bottom: 2px groove #eeede0;
    border-right: 2px groove #eeede0;
  }
  .pf1alt.sheet.actor .ability-scores .ability .ability-header input[type="text"].ability-penalty {
    flex: 1;
    height: 24px;
    border-bottom: 2px groove #eeede0;
  }
  .pf1alt.sheet.actor .ability-scores .ability .ability-header input[type="text"].ability-drain {
    flex: 1;
    height: 24px;
    border-bottom: 2px groove #eeede0;
    border-left: 2px groove #eeede0;
  }
  .pf1alt.sheet.actor .ability-scores .ability input.ability-total:hover + .ability-modifiers {
    visibility: hidden;
  }
  .pf1alt.sheet.actor div.skill-rank {
    flex: 0;
  }
  .pf1alt.sheet.actor ul.skills-list {
    flex: 1;
    overflow-y: auto;
    list-style: none;
    margin: 5px 5px 0;
    padding: 2px 2px 0;
    border: 2px groove #eeede0;
    border-radius: 3px;
  }
  .pf1alt.sheet.actor ul.skills-list.noborder {
    border: none;
  }
  .pf1alt.sheet.actor ul.skills-list li.skill,
  .pf1alt.sheet.actor ul.skills-list li.sub-skill {
    height: 28px;
    padding: 3px 0;
    background-color: rgba(155, 155, 155, 0.3);
  }
  .pf1alt.sheet.actor ul.skills-list li.skill:nth-child(2n+1),
  .pf1alt.sheet.actor ul.skills-list li.sub-skill:nth-child(2n+1) {
    background-color: rgba(210, 210, 210, 0.3);
  }
  .pf1alt.sheet.actor ul.skills-list li.skill .skill-name,
  .pf1alt.sheet.actor ul.skills-list li.sub-skill .skill-name {
    display: flex;
    flex: 0 0 315px;
    margin: 0;
    font-size: 13px;
    align-items: center;
  }
  .pf1alt.sheet.actor ul.skills-list li.skill .skill-name .image-d20,
  .pf1alt.sheet.actor ul.skills-list li.sub-skill .skill-name .image-d20 {
    display: inline-block;
    background-image: url(../../icons/dice/d20black.svg);
    background-size: 100%;
    width: 24px;
    height: 24px;
  }
  .pf1alt.sheet.actor ul.skills-list li.skill .skill-name h4,
  .pf1alt.sheet.actor ul.skills-list li.sub-skill .skill-name h4 {
    display: inline-block;
    margin: 0 0 0.25rem;
  }
  .pf1alt.sheet.actor ul.skills-list li.skill .skill-name input[type="text"],
  .pf1alt.sheet.actor ul.skills-list li.sub-skill .skill-name input[type="text"] {
    display: inline-block;
    margin: 0;
  }
  .pf1alt.sheet.actor ul.skills-list li.skill .skill-name input[type="text"],
  .pf1alt.sheet.actor ul.skills-list li.sub-skill .skill-name input[type="text"] {
    height: 24px;
    width: initial;
    padding: 0;
  }
  .pf1alt.sheet.actor ul.skills-list li.skill .skill-name .skill-control,
  .pf1alt.sheet.actor ul.skills-list li.sub-skill .skill-name .skill-control {
    display: flex;
    align-items: center;
  }
  .pf1alt.sheet.actor ul.skills-list li.skill .skill-name .skill-control .fas,
  .pf1alt.sheet.actor ul.skills-list li.sub-skill .skill-name .skill-control .fas {
    display: inline-block;
    text-align: center;
    width: 24px;
  }
  .pf1alt.sheet.actor ul.skills-list li.skill .checkbox,
  .pf1alt.sheet.actor ul.skills-list li.sub-skill .checkbox {
    flex: 0 0 60px;
  }
  .pf1alt.sheet.actor ul.skills-list li.skill .skill-ability,
  .pf1alt.sheet.actor ul.skills-list li.sub-skill .skill-ability {
    flex: 0 0 25px;
    margin: 0 2px;
  }
  .pf1alt.sheet.actor ul.skills-list li.skill .skill-mod,
  .pf1alt.sheet.actor ul.skills-list li.sub-skill .skill-mod {
    flex: 1 0 20px;
  }
  .pf1alt.sheet.actor ul.skills-list li.skill .skill-notes,
  .pf1alt.sheet.actor ul.skills-list li.sub-skill .skill-notes {
    flex: 1 0 160px;
  }
  .pf1alt.sheet.actor ul.skills-list li.skill .skill-rank,
  .pf1alt.sheet.actor ul.skills-list li.sub-skill .skill-rank {
    flex: 0 0 50px;
    margin-right: 10px;
  }
  .pf1alt.sheet.actor ul.skills-list li.skill .skill-mod-total,
  .pf1alt.sheet.actor ul.skills-list li.sub-skill .skill-mod-total {
    flex: 0 60px;
    margin-right: 12px;
    border: 1px black dashed;
    margin-bottom: 4px;
    text-align: right;
    border-radius: 3px;
    height: 24px;
  }
  .pf1alt.sheet.actor ul.skills-list li.skill .skill-master-mod-total,
  .pf1alt.sheet.actor ul.skills-list li.sub-skill .skill-master-mod-total {
    flex: 0 80px;
    margin-right: 12px;
    border: 1px black dashed;
    margin-bottom: 4px;
    text-align: right;
    border-radius: 3px;
    height: 24px;
  }
  .pf1alt.sheet.actor ul.skills-list li.skill .skill-mod-total .image-d20,
  .pf1alt.sheet.actor ul.skills-list li.sub-skill .skill-mod-total .image-d20,
  .pf1alt.sheet.actor ul.skills-list li.skill .skill-master-mod-total .image-d20,
  .pf1alt.sheet.actor ul.skills-list li.sub-skill .skill-master-mod-total .image-d20 {
    margin-top: 1px;
  }
  .pf1alt.sheet.actor ul.skills-list li.skill .skill-mod-total span,
  .pf1alt.sheet.actor ul.skills-list li.sub-skill .skill-mod-total span,
  .pf1alt.sheet.actor ul.skills-list li.skill .skill-master-mod-total span,
  .pf1alt.sheet.actor ul.skills-list li.sub-skill .skill-master-mod-total span {
    border: none !important;
    margin-bottom: 4px;
    margin-top: 3px;
    margin-right: 4px;
    font-weight: 800;
  }
  .pf1alt.sheet.actor ul.skills-list li.skill .skill-passive,
  .pf1alt.sheet.actor ul.skills-list li.sub-skill .skill-passive {
    flex: 1 0 26px;
    text-align: center;
    color: #7a7971;
  }
  .pf1alt.sheet.actor ul.skills-list li.skill .skill-controls,
  .pf1alt.sheet.actor ul.skills-list li.sub-skill .skill-controls {
    flex: 0 0 24px;
  }
  .pf1alt.sheet.actor ul.skills-list li.sub-skill .skill-name input[type="text"] {
    padding-left: 8px;
  }
  .pf1alt.sheet.actor .counters {
    flex: 0 0 100%;
    border-bottom: 2px groove #eeede0;
    margin-bottom: 5px;
  }
  .pf1alt.sheet.actor .counters .counter {
    padding: 0 3px;
    line-height: 32px;
  }
  .pf1alt.sheet.actor .counters .counter h4 {
    flex: auto;
    margin: 0;
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    font-size: 20px;
    font-size: 14px;
    font-variant: small-caps;
  }
  .pf1alt.sheet.actor .counters .counter .counter-value {
    flex: 0 0 50px;
    text-align: right;
  }
  .pf1alt.sheet.actor .counters .counter .counter-value > * {
    display: inline;
  }
  .pf1alt.sheet.actor .counters .counter input[type="text"] {
    height: 20px;
    max-width: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .pf1alt.sheet.actor .counters .counter input[type="checkbox"] {
    position: relative;
    margin: 0;
    top: 6px;
  }
  .pf1alt.sheet.actor .counters .counter span.sep {
    margin: 0 -2px;
    font-size: 12px;
  }
  .pf1alt.sheet.actor .condition {
    flex: 0;
    align-content: center;
    margin: 2px;
    flex-basis: calc(20% - 4px);
    display: flex;
  }
  .pf1alt.sheet.actor .condition label {
    line-height: 20px;
    flex: 0;
    white-space: nowrap;
  }
  .pf1alt.sheet.actor .condition label span {
    font-size: 12px;
  }
  .pf1alt.sheet.actor .traits {
    margin: 0 5px;
  }
  .pf1alt.sheet.actor .traits .form-group,
  .pf1alt.sheet.actor .traits .form-group-stacked {
    margin: 0 0 4px 0;
    justify-content: space-between;
  }
  .pf1alt.sheet.actor .traits .trait-selector {
    flex: 0 0 16px;
    padding: 2px 0;
    color: #999;
    font-size: 10px;
  }
  .pf1alt.sheet.actor .traits .configure-flags {
    flex: 1;
  }
  .pf1alt.sheet.actor .traits .traits-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  .pf1alt.sheet.actor .traits .actor-size {
    flex: 0 0 150px;
  }
  .pf1alt.sheet.actor .traits label {
    flex: 0 0 150px;
    line-height: 20px;
    font-weight: bold;
    margin: 0;
    text-align: right;
  }
  .pf1alt.sheet.actor .traits input {
    text-align: right;
  }
  .pf1alt.sheet.actor .traits i.fas {
    float: right;
    margin-right: 3px;
    text-align: right;
    color: #999;
  }
  .pf1alt.sheet.actor .traits i.fas:hover {
    color: #111;
    text-shadow: 0 0 10px red;
  }
  .pf1alt.sheet.actor .traits .inactive {
    color: #7a7971;
  }
  .pf1alt.sheet.actor .traits .inactive input[type="text"]::placeholder {
    color: #7a7971;
  }
  .pf1alt.sheet.actor .encumbrance {
    height: 13px;
    background: #7a7971;
    margin: 1px 15px 0 1px;
    border: 1px solid #191813;
    border-radius: 3px;
    position: relative;
  }
  .pf1alt.sheet.actor .encumbrance .encumbrance-bar {
    position: absolute;
    top: 1px;
    left: 1px;
    background: #6c8aa5;
    height: 9px;
    border: 1px solid #cde4ff;
    border-radius: 2px;
  }
  .pf1alt.sheet.actor .encumbrance .encumbrance-bar.encumbered {
    background: #44191A;
    border: 1px solid #be4a4c;
  }
  .pf1alt.sheet.actor .encumbrance .encumbrance-label {
    height: 10px;
    padding: 0 5px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 13px;
    line-height: 12px;
    text-align: left;
    color: #EEE;
    text-shadow: 0 0 5px #000;
  }
  .pf1alt.sheet.actor .encumbrance .encumbrance-value {
    height: 10px;
    padding: 0 5px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
    line-height: 12px;
    text-align: right;
    color: #EEE;
    text-shadow: 0 0 5px #000;
  }
  .pf1alt.sheet.actor .encumbrance .encumbrance-breakpoint {
    position: absolute;
    left: 66%;
  }
  .pf1alt.sheet.actor .encumbrance .arrow-up {
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #666;
  }
  .pf1alt.sheet.actor .encumbrance .arrow-down {
    top: 0;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #666;
  }
  .pf1alt.sheet.actor .encumbrance.encumbered .arrow-up {
    border-bottom: 4px solid #000;
  }
  .pf1alt.sheet.actor .encumbrance.encumbered .arrow-down {
    border-top: 4px solid #000;
  }
  .pf1alt.sheet.actor .carry-label,
  .pf1alt.sheet.actor .inventory-total-value {
    flex: 0;
  }
  .pf1alt.sheet.actor .tab.features,
  .pf1alt.sheet.actor .tab.inventory,
  .pf1alt.sheet.actor .tab.spellbook {
    overflow-y: hidden;
  }
  .pf1alt.sheet.actor .tab.features label.checkbox,
  .pf1alt.sheet.actor .tab.inventory label.checkbox,
  .pf1alt.sheet.actor .tab.spellbook label.checkbox,
  .pf1alt.sheet.actor .tab.spellbook div.radios {
    text-align: left;
    flex: 0;
    margin: 0 0 0 4px;
  }
  .pf1alt.sheet.actor .tab.features label.checkbox:first-child,
  .pf1alt.sheet.actor .tab.inventory label.checkbox:first-child,
  .pf1alt.sheet.actor .tab.spellbook label.checkbox:first-child {
    margin-top: 4px;
  }

  .pf1alt.sheet.actor .tab.buffs a.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #191813;
  }
  .pf1alt.sheet.actor .tab.buffs a.checkbox.active {
    font-weight: 600;
    background-color: rgba(155, 155, 155, 0.5);
    border: 1px transparent;
    border-radius: 10px;
    text-shadow: 0 0 8px red;
    flex: 1;
  }
  .pf1alt.sheet.actor .tab.buffs a.checkbox:not(.active) > img {
    filter: invert(88%) sepia(11%) saturate(158%) hue-rotate(13deg) brightness(98%) contrast(93%);
  }

  .pf1alt.sheet.actor .inventory-filters {
    margin: 0 8px;
    flex: 0 0 20px;
  }
  .pf1alt.sheet.actor .inventory-filters h3,
  .pf1alt.sheet.actor .inventory-filters .filter-title {
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    font-size: 20px;
    color: #4b4a44;
    font-size: 18px;
    margin: 0;
    font-variant: small-caps;
  }
  .pf1alt.sheet.actor .inventory-filters.spellbook-filters {
    flex: 0 0 40px;
  }
  .pf1alt.sheet.actor .inventory-filters .currency {
    list-style: none;
    margin: 4px 0 8px;
    padding: 0;
    font-size: 12px;
  }
  .pf1alt.sheet.actor .inventory-filters .currency label {
    flex: 0;
    margin-left: 8px;
    text-align: right;
    line-height: 20px;
    color: #7a7971;
  }
  .pf1alt.sheet.actor .inventory-filters .currency input[type="text"],
  .pf1alt.sheet.actor .inventory-filters .currency span {
    flex: 0 0 64px;
    text-align: center;
    margin-left: 8px;
  }
  .pf1alt.sheet.actor .carry-bonus label {
    flex: 0;
    margin-left: 8px;
    text-align: right;
    line-height: 20px;
    color: #7a7971;
    white-space: nowrap;
  }
  .pf1alt.sheet.actor .carry-bonus input[type="text"] {
    flex: 0 0 48px;
    text-align: center;
    margin-left: 8px;
    border-bottom: 2px groove #eeede0;
  }
  .pf1alt.sheet.actor .shapechange-info {
    padding: 0 5px;
    flex: 0;
  }
  .pf1alt.sheet.actor .shapechange-info .shapechange-img {
    flex: 0 60;
    margin-right: 8px;
    width: 60px;
    min-height: 60px;
    height: 100%;
    object-fit: contain;
    border: none;
  }
  .pf1alt.sheet.actor .shapechange-info h2 {
    flex: 0;
  }
  .pf1alt.sheet.actor .inventory-list {
    list-style: none;
    margin: 0;
    padding: 0 5px;
    overflow-y: auto;
  }
  .pf1alt.sheet.actor .inventory-list .item,
  .pf1alt.sheet.actor .inventory-list .fake-item {
    line-height: 24px;
    padding: 0 2px;
    border-bottom: 1px solid #c9c7b8;
    background-color: rgba(155, 155, 155, 0.3);
  }
  .pf1alt.sheet.actor .inventory-list .item:last-child,
  .pf1alt.sheet.actor .inventory-list .fake-item:last-child {
    border-bottom: none;
  }
  .pf1alt.sheet.actor .inventory-list .item:nth-child(2n+1),
  .pf1alt.sheet.actor .inventory-list .fake-item:nth-child(2n+1) {
    background-color: rgba(210, 210, 210, 0.3);
  }
  .pf1alt.sheet.actor .inventory-list .fake-item h3.sublist-empty {
    text-align: center;
    padding: 0.5rem;
    opacity: 0.6;
  }
  .pf1alt.sheet.actor .inventory-list .item .item-name,
  .pf1alt.sheet.actor .inventory-list .item .item-name-ne {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .pf1alt.sheet.actor .inventory-list .item .item-name.melded,
  .pf1alt.sheet.actor .inventory-list .item .item-name-ne.melded {
    color: #4b4a44;
    text-decoration: line-through;
  }
  .pf1alt.sheet.actor .inventory-list .item .item-name .item-image,
  .pf1alt.sheet.actor .inventory-list .item .item-name-ne .item-image {
    flex: 0 0 24px;
    background-size: 24px;
    margin-right: 5px;
  }
  .pf1alt.sheet.actor .inventory-list .item .item-name .item-image.class-icon,
  .pf1alt.sheet.actor .inventory-list .item .item-name-ne .item-image.class-icon {
    border-radius: 4px;
    flex: 0 0 64px;
    background-size: 64px;
    height: 64px;
    margin-right: 5px;
  }
  .pf1alt.sheet.actor .inventory-list .item .item-name h4,
  .pf1alt.sheet.actor .inventory-list .item .item-name-ne h4 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .pf1alt.sheet.actor .inventory-list .item .item-name:hover .item-image,
  .pf1alt.sheet.actor .inventory-list .item .item-name-ne:hover .item-image {
    background-image: url("/icons/svg/d20-grey.svg") !important;
  }
  .pf1alt.sheet.actor .inventory-list .item .item-name .item-image:hover,
  .pf1alt.sheet.actor .inventory-list .item .item-name-ne .item-image:hover {
    background-image: url("/icons/svg/d20-black.svg") !important;
  }
  .pf1alt.sheet.actor .inventory-list .item .class-level-box {
    opacity: 0.7;
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    font-variant: small-caps;
  }
  .pf1alt.sheet.actor .inventory-list .item input[type="checkbox"] {
    height: 12px;
  }
  .pf1alt.sheet.actor .inventory-list .item .item-properties {
    margin-top: 3px;
  }
  .pf1alt.sheet.actor .inventory-list .item .item-recharge {
    flex: 0 0 80px;
    text-align: right;
    font-size: 11px;
    color: #7a7971;
  }
  .pf1alt.sheet.actor .inventory-list .item .item-actions > div a {
    display: flex;
    flex: 0 0 16px;
    padding: 0;
    margin-right: 1px;
    height: 16px;
  }
  .pf1alt.sheet.actor .inventory-list .item .item-actions > div a:last-child {
    margin-right: 0;
  }
  .pf1alt.sheet.actor .inventory-list .inventory-header {
    margin: 2px 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #eeede0;
    font-weight: bold;
    line-height: 24px;
  }
  .pf1alt.sheet.actor .inventory-list .inventory-header h3 {
    margin: 0;
    padding-left: 5px;
    font-size: 13px;
    font-weight: bold;
  }
  .pf1alt.sheet.actor .inventory-list .item-detail {
    height: 24px;
    flex: 0 0 80px;
    font-size: 11px;
    color: #7a7971;
    text-align: center;
    position: relative;
    border-right: 1px solid #c9c7b8;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: flex-end;
    align-items: center;
  }
  .pf1alt.sheet.actor .inventory-list .item-detail > * {
    flex: 1;
  }
  .pf1alt.sheet.actor .inventory-list .item-detail .flex1 {
    flex: 1;
  }
  .pf1alt.sheet.actor .inventory-list .item-detail .flex2 {
    flex: 2;
  }
  .pf1alt.sheet.actor .inventory-list .item-detail .flex3 {
    flex: 3;
  }
  .pf1alt.sheet.actor .inventory-list .item-detail .flex4 {
    flex: 4;
  }
  .pf1alt.sheet.actor .inventory-list .item-detail.item-actions {
    flex: 0 0 32px;
    padding: 0 1px 0 1px;
    justify-content: center;
  }
  .pf1alt.sheet.actor .inventory-list .item-detail.item-actions > div {
    flex: 0 0 16px;
  }
  .pf1alt.sheet.actor .inventory-list .item-detail.item-usage {
    flex: 0 0 96px;
    padding: 0 1px 0 1px;
  }
  .pf1alt.sheet.actor .inventory-list .item-detail.item-type {
    flex: 0 0 96px;
    padding: 0 1px 0 1px;
  }
  .pf1alt.sheet.actor .inventory-list .item-detail.item-weight {
    flex: 0 0 54px;
    padding: 0 1px 0 1px;
  }
  .pf1alt.sheet.actor .inventory-list .item-detail.item-identified {
    flex: 0 0 32px;
    padding: 0 1px 0 1px;
  }
  .pf1alt.sheet.actor .inventory-list .item-detail.item-carried {
    flex: 0 0 32px;
    padding: 0 1px 0 1px;
  }
  .pf1alt.sheet.actor .inventory-list .item-detail.item-container {
    flex: 0 0 80px;
    padding: 0 1px 0 1px;
  }
  .pf1alt.sheet.actor .inventory-list .item-detail.item-equipped {
    flex: 0 0 32px;
    padding: 0 1px 0 1px;
  }
  .pf1alt.sheet.actor .inventory-list .item-detail.item-uses {
    flex: 0 0 64px;
    padding: 0 1px 0 1px;
  }
  .pf1alt.sheet.actor .inventory-list .item-detail:nth-child(2) {
    border-left: 1px solid #c9c7b8;
  }
  .pf1alt.sheet.actor .inventory-list .item-detail:last-child {
    border-right: none;
  }
  .pf1alt.sheet.actor .inventory-list a.item-control {
    height: 100%;
  }
  .pf1alt.sheet.actor .inventory-list a.item-control.spell-add-uses,
  .pf1alt.sheet.actor .inventory-list a.item-control.spell-remove-uses,
  .pf1alt.sheet.actor .inventory-list a.item-control.spell-add-metamagic {
    flex: 0 16px;
    font-size: 10px;
  }
  .pf1alt.sheet.actor .inventory-list .item-level {
    flex: 0 0 40px;
    border-right: 1px solid #c9c7b8;
  }
  .pf1alt.sheet.actor .inventory-list .item-feat-level {
    flex: 0 0 60px;
    border-right: 1px solid #c9c7b8;
  }
  .pf1alt.sheet.actor .inventory-list .item-active {
    flex: 0 0 60px;
    border-right: 1px solid #c9c7b8;
  }
  .pf1alt.sheet.actor .inventory-list .item-active .checkmark {
    left: 20px;
    top: 2px;
  }
  .pf1alt.sheet.actor .inventory-list .item-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .pf1alt.sheet.actor .inventory-list .item-controls {
    flex: 0 0 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-x: hidden;
    white-space: nowrap;
    justify-content: center;
  }
  .pf1alt.sheet.actor .inventory-list .item-controls > * {
    flex: 1;
  }
  .pf1alt.sheet.actor .inventory-list .item-controls .flex1 {
    flex: 1;
  }
  .pf1alt.sheet.actor .inventory-list .item-controls .flex2 {
    flex: 2;
  }
  .pf1alt.sheet.actor .inventory-list .item-controls .flex3 {
    flex: 3;
  }
  .pf1alt.sheet.actor .inventory-list .item-controls .flex4 {
    flex: 4;
  }
  .pf1alt.sheet.actor .inventory-list .item-controls a {
    flex: 0 0 16px;
    text-align: center;
    color: #666;
  }
  .pf1alt.sheet.actor .inventory-list .item-summary {
    flex: 0 0 100%;
    font-size: 12px;
    line-height: 16px;
    padding: 0.25em 0.5em;
    border-top: 1px solid #c9c7b8;
  }
  .pf1alt.sheet.actor a.configure-spellbook {
    border-radius: 4px;
    height: 30px;
    display: block;
    margin: 0 5px 4px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    font-variant: small-caps;
  }
  .pf1alt.sheet.actor .spell-slots,
  .pf1alt.sheet.actor .spell-comps,
  .pf1alt.sheet.actor .spell-uses {
    flex: 0 0 128px;
    font-size: 12px;
    text-align: center;
    color: #7a7971;
    border-right: 1px solid #c9c7b8;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pf1alt.sheet.actor .spell-slots input[type="text"].base,
  .pf1alt.sheet.actor .spell-comps input[type="text"].base,
  .pf1alt.sheet.actor .spell-uses input[type="text"].base {
    flex: 1;
  }
  .pf1alt.sheet.actor .spell-slots input,
  .pf1alt.sheet.actor .spell-comps input,
  .pf1alt.sheet.actor .spell-uses input,
  .pf1alt.sheet.actor .spell-slots span.sep,
  .pf1alt.sheet.actor .spell-comps span.sep,
  .pf1alt.sheet.actor .spell-uses span.sep {
    text-align: center;
  }
  .pf1alt.sheet.actor .spell-slots span.sep,
  .pf1alt.sheet.actor .spell-comps span.sep,
  .pf1alt.sheet.actor .spell-uses span.sep {
    flex: 0 0 8px;
  }
  .pf1alt.sheet.actor .spell-uses input {
    flex: 0 0 24px;
  }
  .pf1alt.sheet.actor .spell-school,
  .pf1alt.sheet.actor .spell-action {
    flex: 0 0 120px;
    font-size: 12px;
    color: #7a7971;
    text-align: center;
    border-right: 1px solid #c9c7b8;
  }
  .pf1alt.sheet.actor .spellbook-empty .item-controls {
    flex: 1;
  }
  .pf1alt.sheet.actor .spell-failure input[type="text"] {
    flex: 1;
  }
  .pf1alt.sheet.actor .spell-range label {
    flex: 1 1 48px;
    text-align: right;
    margin-right: 8px;
    white-space: nowrap;
  }
  .pf1alt.sheet.actor .spell-range input[type="text"] {
    flex: 1 1 48px;
  }
  .pf1alt.sheet.actor .rollable.image-d20 {
    flex: 0 0 24px;
    display: inline-block;
    background-image: url(../../icons/dice/d20black.svg);
    background-size: 100%;
    height: 24px;
  }
  .pf1alt.sheet.actor .editor {
    padding: 0 8px;
  }
  .pf1alt.sheet.actor hr {
    margin: 4px 0 4px 0;
  }
  .pf1alt.sheet.actor .level-up-boxes {
    flex: 110px 0;
    padding: 5px;
    position: relative;
  }
  .pf1alt.sheet.actor .level-up-boxes-overlay {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 100%;
    flex: 1;
    max-width: calc(100% - 70px);
    height: 100px;
  }
  .pf1alt.sheet.actor .spell-range {
    flex: 0;
    padding: 4px 0 4px;
    border-top: 2px groove #eeede0;
    border-bottom: 2px groove #eeede0;
    margin-bottom: 8px;
  }

  /* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.pf1alt.sheet.actor.character {
  min-width: 820px;
  min-height: 736px;
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Spellbook                                */
  /* ----------------------------------------- */
}
.pf1alt.sheet.actor.character .sheet-header .charlevel {
  flex: 0 0 240px;
  padding: 0 5px 2px;
}
.pf1alt.sheet.actor.character .sheet-header .charlevel .level {
  height: 28px;
}
.pf1alt.sheet.actor.character .sheet-header .charlevel .experience input[type="text"] {
  width: 80px;
}
.pf1alt.sheet.actor.character .sheet-header .charlevel .xpbar {
  width: calc(100% - 100px);
  flex: 0 0 8px;
  background: #666;
  border: 1px solid #000;
  border-radius: 3px;
  float: right;
}
.pf1alt.sheet.actor.character .sheet-header .charlevel .xpbar .bar {
  height: 4px;
  margin: 1px;
  display: block;
  background: #afebff;
  border: 1px solid #000;
  border-radius: 2px;
}
.pf1alt.sheet.actor.character .sheet-header .race-container {
  flex: 1;
  padding: 0 0 0 4px;
}
.pf1alt.sheet.actor.character .sheet-header .race-container .item-controls {
  align-items: flex-start;
}
.pf1alt.sheet.actor.character .sheet-header .race-container .item-controls a {
  flex: 0 0 16px;
  font-size: 10px;
  text-align: center;
  color: #666;
}
.pf1alt.sheet.actor.character .sheet-header .race-container.norace {
  padding: 0 0 0 6px;
}
.pf1alt.sheet.actor.character .sheet-header .race-container .race {
  flex: 0 0 auto;
  background-size: contain;
  line-height: 24px;
  text-align: center;
  vertical-align: baseline;
  margin-right: 4px;
  height: 22px;
}
.pf1alt.sheet.actor.character .sheet-header .race-container .race.rollable:hover {
  background-image: url("/icons/svg/d20-black.svg") !important;
}
.pf1alt.sheet.actor.character .sheet-header .summary li:nth-last-child(1),
.pf1alt.sheet.actor.character .sheet-header .summary li:nth-last-child(2) {
  border-bottom: none;
}
.pf1alt.sheet.actor.character .attributes .resource .attribute-name {
  margin: 0 8px;
}
.pf1alt.sheet.actor.character .attributes .resource .attribute-name input[type="text"] {
  height: 20px;
  margin: 2px 0 -2px;
  line-height: 24px;
}
.pf1alt.sheet.actor.character .attributes .resource label.checkbox {
  margin: 0 3px;
}
.pf1alt.sheet.actor.character .attributes .resource label.checkbox input[type="checkbox"] {
  transform: scale(1.2);
}
.pf1alt.sheet.actor.character div.skill-rank label {
  flex: 0;
  white-space: nowrap;
  margin-right: 10px;
}
.pf1alt.sheet.actor.character div.skill-rank li.skill-rank-formula input[type="text"] {
  flex: 1 1 0;
}
.pf1alt.sheet.actor.character .counters .death-saves {
  flex: 2;
}
.pf1alt.sheet.actor.character .counters .death-saves .counter-value {
  flex: 0 0 90px;
}
.pf1alt.sheet.actor.character .item-detail.player-class {
  flex: 0 0 180px;
  text-align: right;
  padding-right: 10px;
}
.pf1alt.sheet.actor.character .spellbook .item-controls {
  flex: 0 0 68px;
}
.pf1alt.sheet.actor.character .spellbook .item-controls .toggle-prepared {
  color: #b5b3a4;
}
.pf1alt.sheet.actor.character .spellbook .item-controls .toggle-prepared.prepared {
  color: #4b4a44;
}

  .sheet-header-profile img {
    border: none;
  }
  .sheet-header-profile::after {
    content: '';
/*    background: url(/systems/D35E/icons/ui/large-item-frame-empty.png);*/
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0;
    pointer-events: none;
  }
  .sheet-header-profile.red::after {
    content: '';
/*    background: url(/systems/D35E/icons/ui/large-item-frame-red.png);*/
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0;
    pointer-events: none;
  }
  .sheet-header-profile.blue::after {
    content: '';
/*    background: url(/systems/D35E/icons/ui/large-item-frame-blue.png);*/
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0;
    pointer-events: none;
  }
  .sheet-header-profile.purple::after {
    content: '';
/*    background: url(/systems/D35E/icons/ui/large-item-frame-purple.png);*/
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0;
    pointer-events: none;
  }
  .pf1alt.sheet h3.block-header::before {
    border-top: 2px solid #75514b !important;
  }
  .pf1alt.sheet h3.block-header::after {
    border-top: 2px solid #75514b !important;
  }
  .pf1alt.sheet h3.block-header.class-features-toggle {
    line-height: 0px;
    margin-top: -3px
  }
  .pf1alt.sheet h2.block-header::after {
    border-top: 2px solid #75514b !important;
  }
  .pf1alt.sheet.actor.character .header-details h1 {
    padding: 0;
  }
  .pf1alt.sheet.actor.character .header-details h1 input {
    color: #193f48;
    margin: 8px 3px;
  }
  .pf1alt.sheet.actor .level-up-boxes {
    flex: 110px 0;
    position: relative;
    padding: 0;
  }
  .pf1alt.sheet.actor .level-up-boxes-overlay {
    position: absolute;
    width: 100%;
    flex: 1;
    max-width: calc(100% - 50px);
    height: 110px;
    top: 0;
    left: 0;
  }
  .pf1alt.sheet.actor .details-skills-list {
    list-style: none;
    margin: 2px;
    padding: 0;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }
  .pf1alt.sheet.actor .details-skills-list .skill-header {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .pf1alt.sheet.actor .details-skills-list .skill:nth-child(2n+1) {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  }
  .pf1alt.sheet.actor .details-skills-list .skill:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  }
  .pf1alt.sheet.actor .inventory-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }
  .pf1alt.sheet.actor .inventory-list.borderless {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0;
  }
  .pf1alt.sheet.actor .inventory-list .inventory-header {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .pf1alt.sheet.actor .inventory-list .item:nth-child(2n+1):not(.mythic-path),
  .pf1alt.sheet.actor .inventory-list .fake-item:nth-child(2n+1):not(.mythic-path) {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  }
  .pf1alt.sheet.actor .inventory-list .item:nth-child(2n):not(.mythic-path),
  .pf1alt.sheet.actor .inventory-list .fake-item:nth-child(2n):not(.mythic-path) {
    background-color: rgba(255, 255, 255, 0) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  }
  .pf1alt.sheet.actor .sheet-navigation {
    margin-bottom: 0;
    padding-bottom: 5px;
    border-bottom: none;
    /* margin: 0 0 4px; */
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background: linear-gradient(rgba(255, 255, 255, 0.3) 100%, rgba(255, 255, 255, 0.3) 100%), url(../../systems/pf1/ui/parchment.jpg) repeat;
    color: rgba(0, 0, 0, 0.8);
    border-bottom: rgba(0, 0, 0, 0.2);
  }
  .pf1alt.sheet.actor .sheet-navigation .item {
    border-bottom-color: #75514b;
  }
  .pf1alt.sheet.actor .sheet-navigation .item.active {
    border-bottom-color: #44191A;
  }
  .pf1alt.sheet.actor .sheet-navigation.subtabs {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    margin: 5px 0px 1px;
  }
  .pf1alt.sheet.actor .spellbook-spelllist {
    padding: 4px;
  }
  .pf1alt.sheet ul.attributes li.attribute {
    border: none !important;
    background: rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  }
  .pf1alt.sheet .ability-scores-simple,
  .pf1alt.sheet .details-attack-simple,
  .pf1alt.sheet .details-skills-list,
  .pf1alt.sheet .ability-scores .ability {
    border: none !important;
    background: rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  }
  .pf1alt.sheet h4.box-title.high {
    line-height: 24px !important;
  }
  .pf1alt.sheet input[type="text"] {
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    height: 24px;
  }
  .pf1alt.sheet input[type="text"]:hover,
  .pf1alt.sheet span.text-box:hover {
    border: 1px solid #2C606D !important;
    box-shadow: 0 0 8px #4d8d9d;
  }
  .pf1alt.sheet input[type="text"]:focus {
    border: 1px solid #2C606D !important;
    box-shadow: 0 0 8px #2C606D;
  }
  .pf1alt.sheet .rollable {
    color: #2C606D;
  }
  .pf1alt.sheet .rollable:hover {
    text-shadow: 0 0 10px #2C606D !important;
    color: #2C606D !important;
  }
  .pf1alt.sheet .item-controls a {
    color: #2C606D !important;
  }
  .pf1alt.sheet .item-controls a:hover {
    text-shadow: 0 0 10px #2C606D !important;
    color: #2C606D !important;
  }
  .pf1alt.sheet .sheet-header {
    border-bottom: none;
    margin: 0 0 4px;
    padding: 4px;
    background: linear-gradient(rgba(255, 255, 255, 0.3) 100%, rgba(255, 255, 255, 0.3) 100%), url(../../systems/pf1/ui/parchment.jpg) repeat;
    border-radius: 2px;
  }
  .pf1alt.sheet .sheet-header .header-details {
    border-left: none!important;
  }
  .pf1alt.sheet .sheet-header .header-details .attribute {
    border: none !important;
  }
  .pf1alt.sheet .sheet-header .summary {
    border-top: none;
  }
  .pf1alt.sheet .sheet-header .summary li {
    border: none !important;
    margin-bottom: 4px;
  }
  .pf1alt.sheet .sheet-header .summary li input {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .pf1alt.sheet .sheet-header .attributes input {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .pf1alt.sheet.item {
    border: 2px solid #55493B;
  }
  .pf1alt.sheet.item .sheet-navigation {
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(0, 0, 0, 0.8);
    border-bottom: rgba(0, 0, 0, 0.2);
  }
  .pf1alt.sheet.item .sheet-navigation .item {
    border-bottom-color: #75514b;
  }
  .pf1alt.sheet.item .sheet-navigation .item.active {
    border-bottom-color: #44191A;
  }
  .pf1alt.sheet.item .sheet-navigation.subtabs {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 2px -5px;
  }
  .pf1alt.sheet.item .form-header {
    color: #193f48;
    line-height: 14px;
    /* text-align: end; */
    border-bottom: 2px solid #193f48;
    border-top: none;
    margin: 8px 0;
  }
  .pf1alt.sheet.item .form-header .form-group {
    margin-top: -10px;
  }
  .pf1alt.sheet.item .form-header .form-group label {
    font-family: Signika;
    line-height: 20px;
    font-size: 13px;
  }
  .pf1alt.sheet.item section.sheet-content {
    background: url(../../systems/pf1/ui/parchment.jpg) repeat;
    margin: 0px;
    border-radius: 2px;
    min-height: 420px;
    height: 420px;
  }
  .pf1alt.sheet.item section.sheet-content.sheet-weapon {
    min-height: 380px;
    height: 380px;
    margin-bottom: 2px;
  }
  .pf1alt.sheet.item .original-weapon-box {
    margin-bottom: 4px;
    border-radius: 2px;
    background: url(../../systems/pf1/ui/parchment.jpg) repeat;
  }
  .pf1alt.sheet.item .original-weapon-box .sheet-header-small img {
    border: none;
  }
  .pf1alt.sheet.item .original-weapon-box .sheet-header-small::after {
    content: '';
    /*background: url(/systems/D35E/icons/ui/item-frame.png);*/
    background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0;
    pointer-events: none;
  }
  .pf1alt.sheet.item header {
    background: linear-gradient(rgba(255, 255, 255, 0.3) 100%, rgba(255, 255, 255, 0.3) 100%), url(../../systems/pf1/ui/parchment.jpg) repeat;
    padding: 4px;
    border-radius: 2px;
  }
  .pf1alt.sheet.item .header-details h1 {
    padding: 0;
  }
  .pf1alt.sheet.item .header-details h1 input {
    color: #2C606D;
    margin: 8px 0;
  }
