<div class="inventory-filters">
  <ol class="currency flexrow">
    <h3>
      {{localize "PF1.Currency"}}
      <!-- <a class="currency-convert" title="Convert Currency"><i class="fas fa-coins"></i></a> -->
    </h3>
    {{#each data.currency as |v k|}}
      <label class="denomination {{k}}">{{ lookup ../config.currencies k }}</label>
      <span class="text-box direct allow-relative" name="data.currency.{{k}}">{{v}}</span>
      <a class="convert-currency" data-type="{{k}}" data-category="currency" title="{{localize "PF1.ConvertCurrency"}}"><i class="fas fa-long-arrow-alt-left"></i></a>
    {{/each}}
  </ol>
  {{#if isCharacter}}
    <ol class="currency flexrow">
      <h3>
        {{localize "PF1.WeightlessCurrency"}}
        <!-- <a class="currency-convert" title="Convert Currency"><i class="fas fa-coins"></i></a> -->
      </h3>
      {{#each data.altCurrency as |v k|}}
        <label class="denomination {{k}}">{{ lookup ../config.currencies k }}</label>
        <span class="text-box direct allow-relative" name="data.altCurrency.{{k}}">{{v}}</span>
        <a class="convert-currency" data-type="{{k}}" data-category="altCurrency" title="{{localize "PF1.ConvertCurrency"}}"><i class="fas fa-long-arrow-alt-left"></i></a>
      {{/each}}
    </ol>
  {{/if}}
</div>

{{!-- Inventory Navigation --}}
<div class="inventory-filters flexrow">
  {{~> "systems/pf1/templates/internal/item-search.hbs" category="inventory"}}
  <ul class="filter-list flexrow" data-filter="inventory">
    {{#each sections as |section sid|}}
    <li class="filter-item" data-filter="type-{{sid}}">{{section.label}}</li>
    {{/each}}
  </ul>
</div>

<section class="inventory-body">
  <ol class="inventory-list">
  {{#each sections as |section sid|}}
    {{#unless section._hidden}}
      <li class="inventory-header flexrow">
        <h3 class="item-name flexrow">{{section.label}}</h3>

        {{#if section.hasSlots}}<div class="item-detail item-slot"><i class="icon icon-inventory-slot large" title="{{localize "PF1.Slot"}}"></i></div>{{/if}}
        {{#if section.hasActions}}<div class="item-detail item-actions"><i class="icon icon-gears large" title="{{localize "PF1.ActionPlural"}}"></i></div>{{/if}}

        {{#if section.showValue}}
          <div class="item-detail item-value"><i class="icon icon-coins large" title="{{localize "PF1.Value"}}"></i></div>
        {{/if}}
          <div class="item-detail item-weight"><i class="icon icon-weight large" src="systems/pf1/icons/actions/weight.svg" title="{{localize "PF1.ItemWeight"}}"></i></div>
        {{#if ../isGM}}
          <div class="item-detail item-identified"><i class="icon icon-quill-ink large" title="{{localize "PF1.Identified"}}"></i></div>
        {{/if}}
          <div class="item-detail item-carried"><i class="icon icon-wheelbarrow large" title="{{localize "PF1.Carried"}}"></i></div>
        {{#if section.canEquip}}
          <div class="item-detail item-equipped"><i class="icon icon-battle-gear large" title="{{localize "PF1.Equipped"}}"></i></div>
        {{/if}}
          <div class="item-detail item-uses"><i class="icon icon-battery-pack large" title="{{localize "PF1.ChargePlural"}}"></i></div>

        {{#if ../owner}}
          <div class="item-controls">
            {{#if section.canCreate}}
              <a class="item-control item-create" title="{{localize "PF1.CreateItem"}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                <i class="fas fa-plus"></i>
              </a>
            {{/if}}
            <a data-action="compendium" data-action-target="items" title="{{localize "PF1.OpenCompendium"}}"><i class="fas fa-folder-plus"></i></a>
          </div>
        {{/if}}
      </li>

      <ol class="item-list">
        {{#each section.items as |item iid|}}
          <!-- item._id is correct here as item is an ItemData which is not a Document -->
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name flexrow">
              <div class="item-image rollable" style="background-image: url({{item.img}})"></div>
              <h4 class="rollable{{#if item.empty}} strikethrough-text{{/if}}">
                {{~#if item.isStack}}({{item.data.quantity}}) {{/if}}
                {{item.name~}}
                {{#if section.canBreak}}
                  {{#if item.data.broken}}
                    <i class="fa fa-heart-broken"></i>
                  {{/if}}
                {{/if}}
              </h4>
            </div>

            {{#if section.hasSlots}}
            <div class="item-detail item-slot">
              {{#if item.labels.slot}}
              <span>{{item.labels.slot}}</span>
              {{/if}}
            </div>
            {{/if}}

            {{#if section.hasActions}}
            <div class="item-detail item-actions">
              <div class="item-attack tooltip">
                {{#unless item.showUnidentifiedData}}
                {{#if item.hasAction}}
                <span class="tooltipcontent">
                  {{localize "PF1.UseItem"}}
                </span>
                <a class="item-control item-attack"><img class="icon" src="systems/pf1/icons/actions/gladius.svg"></a>
                {{/if}}
                {{/unless}}
              </div>
            </div>
            {{/if}}

            {{#if section.showValue}}
            <div class="item-detail item-value">
              <span>{{item.price}} {{localize "PF1.CurrencyGP"}}</span>
            </div>
            {{/if}}

            <div class="item-detail item-weight">
              {{#if item.totalWeight}}
              <span>
                {{ item.totalWeight }} {{ item.units }}
              </span>
              {{/if}}
            </div>

            {{#if ../../isGM}}
            <div class="item-detail item-identified">
              <a class="item-control item-identify"><span>{{{item.labels.identified}}}</span></a>
            </div>
            {{/if}}

            <div class="item-detail item-carried">
              <a class="item-control item-carry"><span>{{{item.labels.carried}}}</span></a>
            </div>

            {{#if section.canEquip}}
            <div class="item-detail item-equipped">
              <a class="item-control item-equip"><span>{{{item.labels.equipped}}}</span></a>
            </div>
            {{/if}}

            <div class="item-detail item-uses flexrow {{#if item.isCharged}}tooltip{{/if}}">
              {{#if item.isCharged}}
              <span class="text-box value" data-wheel-step="1" data-dtype="Number">{{item.data.uses.value}}</span>
              <span class="sep"> / {{item.data.uses.max}}</span>
              <span class="tooltipcontent">
                @resources.{{item.data.tag}}.value : {{item.data.uses.value}}<br>
                @resources.{{item.data.tag}}.max : {{item.data.uses.max}}
              </span>
              {{/if}}
            </div>

            {{#if ../../owner}}
              <div class="item-controls">
                <a class="item-control item-quantity-add"><i class="fas fa-plus"></i></a>
                <a class="item-control item-quantity-subtract"><i class="fas fa-minus"></i></a>
                <a class="item-control item-edit" title="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-duplicate" title="{{localize "PF1.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
                <a class="item-control item-give" title="{{localize "PF1.GiveItem"}}"><i class="fas fa-gift"></i></a>
                <a class="item-control item-delete" title="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
              </div>
            {{/if}}
          </li>
        {{/each}}
      </ol>
    {{/unless}}
  {{/each}}
  </ol>
</section>

  {{#unless isLootSheet}}
    <div class="flexcol tab-footer tooltip">
      <div class="tooltipcontent">
        @attributes.encumbrance.level : {{data.attributes.encumbrance.level}}<br>
        <br>
        @details.carryCapacity.bonus.total : {{data.details.carryCapacity.bonus.total}}<br>
        {{#each sourceDetails.data.details.carryCapacity.bonus.total}}
          {{name}} : {{value}}<br>
        {{/each}}
        <br>
        @details.carryCapacity.multiplier.total : {{data.details.carryCapacity.multiplier.total}}<br>
        {{#each sourceDetails.data.details.carryCapacity.multiplier.total}}
          {{name}} : {{value}}<br>
        {{/each}}
      </div>

      <div class="flexrow form-group carry-bonus">
        <div style="flex: 1;">
          <label>{{localize "PF1.BonusCarryStrength"}}</label>
          <input type="text" name="data.details.carryCapacity.bonus.user" value="{{data.details.carryCapacity.bonus.user}}" data-dtype="Number" placeholder="0" style="width: 50px" />
        </div>
        <div style="flex: 1;">
          <label>{{localize "PF1.Multiplier"}}</label>
          <input type="text" name="data.details.carryCapacity.multiplier.user" value="{{data.details.carryCapacity.multiplier.user}}" data-dtype="Number" placeholder="1" style="width: 50px" />
        </div>
        <div style="flex: 1;">
          <label>{{localize "PF1.Quadruped"}}</label>
          <label class="checkbox">
            <input type="checkbox" name="data.attributes.quadruped" {{checked data.attributes.quadruped}}/>
          </label>
        </div>
        <div style="flex: 2; text-align: right;">
          <label>{{labels.totalValue}}</label>
        </div>
      </div>
      {{#with encumbrance}}
        <div class="flexrow">
          <div class="encumbrance {{#if encumbered.light}}encumbered{{/if}}">
            <span class="encumbrance-bar {{#if encumbered.light}}encumbered{{/if}}" style="width:{{pct.light}}%"></span>
            <span class="encumbrance-label">{{localize "PF1.CarryLightLoad"}}</span>
            <span class="encumbrance-value">{{value}} / {{light}} {{#if (isMetric)}}kg{{else}}lb{{/if}}</span>
          </div>
          <div class="encumbrance {{#if encumbered.medium}}encumbered{{/if}}">
            <span class="encumbrance-bar {{#if encumbered.medium}}encumbered{{/if}}" style="width:{{pct.medium}}%"></span>
            <span class="encumbrance-label">{{localize "PF1.CarryMediumLoad"}}</span>
            <span class="encumbrance-value">{{value}} / {{medium}} {{#if (isMetric)}}kg{{else}}lb{{/if}}</span>
          </div>
          <div class="encumbrance {{#if encumbered.heavy}}encumbered{{/if}}">
            <span class="encumbrance-bar {{#if encumbered.heavy}}encumbered{{/if}}" style="width:{{pct.heavy}}%"></span>
            <span class="encumbrance-label">{{localize "PF1.CarryHeavyLoad"}}</span>
            <span class="encumbrance-value">{{value}} / {{heavy}} {{#if (isMetric)}}kg{{else}}lb{{/if}}</span>
          </div>
        </div>
        <div class="flexrow form-group">
          <div class="flexrow">
            <label>{{localize "PF1.CarryAboveHead"}}</label>
            <span style="margin-right: 10px; flex: 1; text-align: right;">{{aboveHead}} {{#if (isMetric)}}kg{{else}}lb{{/if}}</span>
          </div>
          <div class="flexrow">
            <label>{{localize "PF1.CarryOffGround"}}</label>
            <span style="margin-right: 10px; flex: 1; text-align: right;">{{offGround}} {{#if (isMetric)}}kg{{else}}lb{{/if}}</span>
          </div>
          <div class="flexrow">
            <label>{{localize "PF1.CarryDragPush"}}</label>
            <span style="margin-right: 30px; flex: 1; text-align: right;">{{dragPush}} {{#if (isMetric)}}kg{{else}}lb{{/if}}</span>
          </div>
        </div>
      {{/with}}
    </div>
  {{else}}
    {{#with encumbrance}}
      <div class="flexcol tab-footer">
        <div class="flexrow">
          <span class="tag">{{carryLabel}}</span>
          <span class="tag">{{../labels.totalValue}}</span>
          <span class="tag">{{../labels.sellValue}}</span>
        </div>
      </div>
    {{/with}}
  {{/unless}}
